<div class="item vertical center-justified layout">
    <style>

          .title {
            padding-left: 20px;
            font-size: 150%;
            font-weight: normal;
            color : black;
          }
          .done {
            text-decoration: line-through;
          }
          .paper-checkbox {
            top: -2px;
          }

          .vertical-section{
            margin-top: 3px;
            background-color: #FFF;
            border: 1px solid #d6d6d6;
            padding: 5px;
            padding-left: 20px;
            color: black;
            border-radius: 3px;
          }
        </style>
    <div class="vertical-section">
        <h4>
            <paper-checkbox data-element="done"></paper-checkbox>
            <span data-element="title" class='title'></span>
        </h4>
        <div data-element="description"></div>
    </div>
</div>