<div>

    <style is="custom-style">
    html, body {
      margin: 0;
      font-family: 'Roboto', 'Noto', sans-serif;
      -webkit-font-smoothing: antialiased;
      background: #f1f1f1;
      max-height: 368px;
    }
    app-toolbar {
      background-color: #4285f4;
      color: #fff;
    }

    paper-icon-button {
      --paper-icon-button-ink-color: white;
    }

    paper-icon-button + [main-title] {
      margin-left: 24px;
    }

    app-header {
      @apply --layout-fixed-top;
      color: #fff;
      --app-header-background-rear-layer: {
        background-color: #ef6c00;
      };
    }
    app-drawer {
      --app-drawer-scrim-background: rgba(0, 0, 0, 0.6);
      --app-drawer-content-container: {
        background-color: #FFF;
      }
    }

    paper-icon-item {
        overflow: hidden;
        cursor : pointer;
    }
    .toolbar {
        background: #4285f4 !important;
    }
    .header {
        font-size: 200%;
        margin-left: 50px;
    }
    .content {
        padding: 15px;
    }

    .add {
        position: absolute;
        bottom: 20px;
        right: 20px;
        --paper-fab-background: var(--paper-red-500);
    }


    </style>
    <app-header reveals>
        <app-toolbar>
            <paper-icon-button icon="menu" onclick="drawer.toggle()"></paper-icon-button>
            <div main-title>Todo List</div>
            <paper-icon-button icon="add" id="btn" data-element="addButton" title="Add">
            </paper-icon-button>
        </app-toolbar>
        <div class="content" data-element="content"></div>
    </app-header>
    <app-drawer id="drawer" swipe-open data-element="drawerPanel" fixed>
        <div data-element="menuContainer">

        </div>
    </app-drawer>

</div>